@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


$font-family : 'Poppins' , sans-serif;

$font-weight-regular : 400;
$font-weight-semibold : 600;
$font-weight-bold : 700;

$font-size-regular : 16px;
$font-size-medium : 18px;


$font-size-title-small : 20px ;
$font-size-title-medium : 30px;
$font-size-title-large : 36px;
$font-size-title-xl : 60px;

$color-primary : #242f51;
$color-secondary : #f55767;
$color-tertiary : #2563ff;
$color-success : #40975f;
$color-gray : #616368;
$color-white : #fff; 

$line-height-regular : 24px;
$line-height-medium : 48px;
$line-height-large : 72px;